extends layout

mixin generateComment(comment)
    div.commentCard()
        p= comment.content
        a(href='/profiles/' + comment.author.username)= comment.author.username
        a(href="/posts/" + post._id +"/comments/" + comment._id + "/replies/new") Reply
        each reply in comment.replies
            +generateComment(reply)

block content
    
    html
      head
        title= title
      body
        div.row
            
            div.col-sm-6.offset-sm-3
              a.lead(href=post.url)= post.title
              p()= post.summary
              a(href='/profiles/' + post.author.username) 
                p()= post.author.username
              form(action='/posts/' + post._id + '/comments', method='POST')
                input(type="hidden", name="author", value=currentUser._id)
                textarea.form-control(name='content', placeholder='Comment')
                div.text-right()
                  button(type='submit') Save
              div#commentContainer()
                each comment in post.comments
                  +generateComment(comment)

                
